@font-face {
    font-family: 'KnowledgeRegular';
    src: url('knowledge-regular-webfont.eot');
    src: url('knowledge-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('knowledge-regular-webfont.woff') format('woff'),
         url('knowledge-regular-webfont.ttf') format('truetype'),
         url('knowledge-regular-webfont.svg#knowledgeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}