<!-- Header -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Nova Web Components</a>
        </div>
        <div class="collapse navbar-collapse header-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort by
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="sort by">
                        <li>
                            <a tabindex="-1" href="javascript:void(0);" value="age" ng-click="orderProp='age'">Newest</a>
                        </li>
                        <!--li class="divider"></li-->
                        <li>
                            <a tabindex="-1" href="javascript:void(0);" value="name" ng-click="orderProp='name'">Alphabetical</a>
                        </li>
                    </ul>
                </li>
                <!-- View by -->
                <li>
                    <a class="navbar-brand pull-right" href="#/patterns-grid/">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                </li>
                <li>
                    <a class="navbar-brand pull-right" href="#/patterns/">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /header -->
<!-- Body Container -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Search Filter -->
            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="query">
                </div>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
    <!-- Grid Section -->
    <div class="mp-columns">
        <!-- Box -->
        <div class="mp-pin" ng-repeat="pattern in patterns | filter:query | orderBy:orderProp">
            <div class="panel panel-default" id="headings">
                <!-- box header -->
                <div class="panel-heading">
                    <h4>
                        <a href="#/patterns/{{pattern.id}}">{{pattern.name}}</a><span class="badge badge-primary pull-right">{{pattern.code}}</span>
                    </h4>
                </div>
                <!-- box body -->
                <div class="panel-body">
                    <a href="#/patterns/{{pattern.id}}" class="thumb">
                        <img ng-src="{{pattern.imageUrl}}" class="img-responsive">
                    </a>
                    <p>{{pattern.description}}</p>
                    <hr/>
                    <span class="label label-default">{{pattern.category}}</span><br class="visible-sm" />
                        <span class="label label-{{pattern.statusColor}}">{{pattern.statusLabel}}</span>
                        <!-- dropdown -->
                        <div class="btn-group dropup pull-right">
                            <button type="button" class="btn btn-default btn-xs">Assets</button>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- Dropdown menu links -->
                                <li>
                                    <a href="">Keynote Stencil</a>
                                </li>
                                <li>
                                    <a href="">Photoshop Stencil</a>
                                </li>
                                <li>
                                    <a href="">HTML5 Demo</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /dropdown -->
                </div>

            </div>
            <!-- /box -->
        </div>
    </div>
    <!-- /grid section -->
</div>
<!-- /body container -->