<!-- Header -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;UI Components Gallery</a>
        </div>
        <div class="collapse navbar-collapse header-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort by
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="sort by">
                        <li>
                            <a tabindex="-1" href="javascript:void(0);" value="age" ng-click="orderProp='age'">Newest</a>
                        </li>
                        <!--li class="divider"></li-->
                        <li>
                            <a tabindex="-1" href="javascript:void(0);" value="name" ng-click="orderProp='name'">Alphabetical</a>
                        </li>
                    </ul>
                </li>
                <!-- View by -->
                <li>
                    <a class="navbar-brand pull-right" href="#/patterns-grid/">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                </li>
                <li>
                    <a class="navbar-brand pull-right" href="#/patterns/">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /header -->
<!-- Body Container -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Search Filter -->
            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="query">
                </div>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
    <!-- List Section -->
    <div class="list-group">
        <a href="#/patterns/{{pattern.id}}" class="list-group-item" ng-repeat="pattern in patterns | filter:query | orderBy:orderProp">
            <h4 class="list-group-item-heading" style="float:left">{{pattern.name}}&nbsp;&nbsp;&nbsp;
                <h6 class="label label-default">{{pattern.category}}</h6>
                <h6 class="label label-{{pattern.statusColor}}">{{pattern.statusLabel}}</h6>
                <span class="badge badge-primary pull-right">{{pattern.code}}</span>
            </h4>
            <p class="list-group-item-text hidden-xs" style="clear:both">{{pattern.description}}</p>
        </a>
    </div>
    <!-- /list section -->
</div>
<!-- /body container -->